{% load static %}

<html>

  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">

  </head>

  <body>
    <h3> IS IT IMPORTING </h3>

    <button type="button" class="btn btn-primary">Primary</button>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Plants Y'all</a>

      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </nav>

    {% block content %}
    {% endblock %}
  </body>

</html>